body {
  background-color: #9ddeff;
  margin: 0px;
}

div.container {
  background-color: #fff;
  margin-top: 10px;
  height: 600px;
  border-radius: 10px;
  padding-top: 40px;
}

form {
  padding-left: 30px;
  padding-right: 30px;
}

div.row, div.form-group {
  padding-top: 20px;
}

button.btn btn-primary {
  align-items: right;
}

form .field {
  transition: all 1s ease-out;
}

form .field.active>span:first-child{
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

form .field.active>span:first-child {
  bottom: initial;
  font-size: 10px;
  font-weight: 400;
  line-height: 21px;
  margin-left: 2px;
  margin: initial;
  color: #491777;
}

form .field:before {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

form .field.active input {
  border-color: #491777!important;
}

form .field>span:first-child {
  position: absolute;
  top: -2px;
  left: 3px;
  bottom: 0;
  display: block;
  width: 100%;
  font-size: 13px;
  font-weight: 100;
  line-height: 52px;
  padding: 0 15px;
  margin: auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  color: #a3a3a3;
  z-index: 12;
}

form .field>span:first-child {
  font-size: 10px;
  line-height: 50px;
}